.ue_cont {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e3f1f5;
    padding: 40px 0;
}
.ue_cont h1 {
    font-size: 140px;
    font-weight: 1000;
    font-family: 'Bebas Neue';
    margin: 0;
    z-index: 10;
    margin-top: 50px;
}
.ue_cont h2 {
    font-size: 130px;
    font-weight: 1000;
    font-family: 'Bebas Neue';
    margin: 0;
    background: linear-gradient(90deg,#04d1fe,#0ab5ca,#1c9485);
    background-clip: text;
    color: transparent;
}
.ue_cont p {
    max-width: 80%;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}
.ue_cont h3 {
    max-width: 80%;
    font-size: 25px;
    font-weight: 800;
    color: #5394bf;
    text-align: center;
    margin-bottom: 20px;
}
.ue_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.ue_top {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    display: flex;
    height: 200px;
    
}
.ue_top1 {
    width: 35%;
    height: 100%;
    background: linear-gradient(#d4e9c6,#a2e4f2);
    clip-path: polygon(0 0, 57% 0, 100% 100%, 0% 100%);
}
.ue_top2 {
    width: 70%;
    height: 100%;
    background-color: #a2e4f2;
    clip-path: polygon(0 0, 100% 0, 78% 100%, 22% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.ue_top2 > div {
    width: 96%;
    height: 96%;
    background: linear-gradient(#24beda,#75d787,#e7fa13);
    clip-path: polygon(0 0, 100% 0, 78% 100%, 22% 100%);
}
.ue_top3 {
    width: 35%;
    height: 100%;
    background: linear-gradient(#d4e9c6,#a2e4f2);
    clip-path: polygon(43% 0, 100% 0, 100% 100%, 0% 100%);
}

/* ///////////   card */

.ue_card_cont {
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    word-wrap: break-word;
    border-radius: 40px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.316);
}
.ue_card_cont .ue_card_left {
    height: 90%;
    width: 40%;
    background: linear-gradient(#24beda,#75d787,#e7fa13);
    border-radius: 20px;
}
.ue_card_right {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ue_card_right h1 {
    font-size: 25px;
    text-align: center;
    margin: 0;
}
.ue_card_right p {
    font-size: 10px;
}

@media screen and (max-width: 600px) {
    .ue_cont {
        padding: 40px 0;
    }
    .ue_cont h1 {
        font-size: 90px;
        margin-top: 0;
    }
    .ue_cont h2 {
        font-size: 80px;
    }
    .ue_cont p {
        max-width: 100%;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .ue_cont h3 {
        max-width: 100%;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .ue_top {
        height: 100px;
        
    }
    
    /* ///////////   card */
    
    .ue_card_cont {
        width: 300px;
        height: 250px;
    }
    .ue_card_right h1 {
        font-size: 20px;
    }
    .ue_card_right p {
        font-size: 10px;
    }
}